@use "./variables" as *;

.section__benefits {
  @media (min-width: 768px) {
    display: flex;
  }

  .benefits__item {
    border-left: 1px solid $gray;
    padding-left: 32px;
    padding-right: 16px;
    flex: 1;
    font-size: 18px;

    .benefits__title {
      display: block;
      font-size: 36px;
      color: $orange;
      font-family: $font-heading;
      font-weight: 500;
    }
    @media (min-width: 768px) {
      &:first-child {
        border-left: none;
        padding-left: 0;
      }
    }
  }
}

.tech-stack__item {
  background-color: $white;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-family: $font-body;
  font-weight: 400;
  padding: 4px 16px 4px 8px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  width: max-content;
}
