---
import RRSS from "./RRSS.astro";
---

<section id="about">
  <h2>Sobre mi <span class="line-decoration"></span></h2>

  <div>
    <p class="section__title">
      Construyendo experiencias digitales limpias y eficientes.
    </p>

    <p class="mb-16">
      Me apasiona convertir ideas en algo real, resolver problemas, optimizar
      cada detalle y hacer un desarrollo que puede marcar la diferencia.
    </p>

    <p class="mb-16">
      Creo en el poder de la simplicidad para crear productos digitales
      funcionales y atractivos.
    </p>

    <p class="mb-48">
      Como desarrollador fullstack, mi enfoque combina código limpio, diseño
      minimalista y tecnologías modernas.
    </p>

    <RRSS />

    <div class="section__benefits">
      <div class="benefits__item">
        <span class="benefits__title">+4</span>
        <span>Años de experiencia</span>
      </div>
      <div class="benefits__item">
        <span class="benefits__title">+2</span>
        <span>Proyectos completados</span>
      </div>
      <div class="benefits__item">
        <span class="benefits__title">100%</span>
        <span>Satisfacción del cliente</span>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  h2 {
    margin-top: 24px;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      margin-top: 48px;
      margin-bottom: 32px;
    }
  }

  p {
    margin-bottom: 16px;
  }

  .section__title {
    margin-bottom: 24px;
  }

  .section__benefits {
    margin-top: 32px;
  }
</style>
