<section id="contact">
  <div class="">
    <p class="section__title text-center">
      Si tienes alguna duda o pregunta, no dudes en contactarme!
    </p>
    <a
      class="btn btn--primary mx-auto"
      href="mailto:danielenriquezdeveloper@outlook.com">Envia un correo</a
    >
  </div>
</section>

<style lang="scss">
  #contact {
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
  }

  .btn {
    margin: 24px auto;
  }
</style>
