<h2 class="h3">Preguntas Frecuentes</h2>
<div class="services__asks">
  <details>
    <summary><strong>¿Qué tecnologías utilizas?</strong></summary>
    <p>
      Utilizo una variedad de tecnologías modernas como
      <strong>Angular</strong>, <strong>NodeJS</strong>, <strong>Bun</strong>,
      <strong>C#</strong> y para aplicaciones móviles y multiplataforma con
      <strong>C#</strong>.
    </p>
  </details>
  <details>
    <summary>
      <strong>¿Cuánto tiempo toma desarrollar una aplicación?</strong>
    </summary>
    <p>
      El tiempo de desarrollo depende de la complejidad del proyecto, pero
      generalmente toma entre <strong>1 a 3 meses</strong>.
    </p>
  </details>
  <details>
    <summary>
      <strong>¿Cuánto cuestan tus servicios?</strong>
    </summary>
    <p>
      El costo de mis servicios varía dependiendo de las condiciones del
      proyecto y la forma de pago preferida. Para obtener una cotización
      personalizada, por favor <a
        href="#contact"
        aria-label="Ir al bloque de contacto">contáctame</a
      > con los detalles de tu proyecto.
    </p>
  </details>

  <details>
    <summary>
      <strong>¿Ofreces soporte después del desarrollo?</strong>
    </summary>
    <p>
      Sí, ofrezco soporte y mantenimiento continuo si se desea para asegurar que
      tu aplicación funcione sin problemas.
    </p>
  </details>

  <details>
    <summary>
      <strong>¿Ofreces apoyo para desarrollos en curso?</strong>
    </summary>
    <p>
      También ofrezco apoyo para desarrollos en curso optimizando el trabajo en
      equipo.
    </p>
  </details>
</div>

<a class="btn" href="mailto:danielenriquezdeveloper@outlook.com" id="moreinfo"
  >Más información</a
>

<style lang="scss">
  h2 {
    margin-top: 24px;
    text-align: center;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      margin-top: 48px;
      margin-bottom: 48px;
    }
  }

  #moreinfo {
    margin: 24px auto;
    text-decoration: none;

    @media screen and (min-width: 768px) {
      margin: 48px auto;
    }
  }
</style>
