<footer>
  <div class="attribution">
    <a
      href="https://www.flaticon.es/iconos-gratis/desarrollador"
      title="desarrollador iconos"
      >Desarrollador iconos creados por HideMaru - Flaticon</a
    >
  </div>
</footer>
