<header>
  <p>Hola, soy <span class="text-orange">Daniel Enriquez</span></p>
  <h1>Desarrollador Fullstack y multiplataforma</h1>
</header>

<style lang="scss">
  header {
    margin-top: 24px;
    @media screen and (min-width: 768px) {
      margin-top: 48px;
    }
  }
</style>
