---
import Rust from "../assets/rust-original.svg";
---

<div class="inprogress-project">
  <div class="project-card">
    <div class="card-header">
      <div>
        <span class="subtitle">En curso</span>
        <p>Mezclador de sonidos</p>
      </div>

      <div class="badge-list">
        <span class="badge">Open source</span>
        <span class="badge">Software libre</span>
      </div>
    </div>

    <div class="project-details">
      <div>
        <div class="tech-stack__item">
          <img
            width="24"
            height="24"
            src={Rust.src}
            alt="Rust icon"
            loading="lazy"
          />
          Rust
        </div>
      </div>

      <p class="project-description">
        Estoy desarrollando una aplicación de escritorio que permite manejar el
        volumen de las diferentes fuentes de audio. Esta herramienta es
        especialmente útil para usuarios que necesitan controlar múltiples
        fuentes de sonido simultáneamente, como streamers, DJs, y profesionales
        del audio. La aplicación está siendo desarrollada en Rust, aprovechando
        su rendimiento y seguridad para ofrecer una experiencia fluida y
        confiable. Además, es un proyecto de código abierto, lo que permite a
        otros desarrolladores contribuir y mejorar la herramienta continuamente.
      </p>
    </div>
  </div>
</div>
